* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    overflow: hidden;
    position: relative; /* The parent should have a position other than static */
    width: 100%; /* Or set a specific width for the parent */
    height: 100vh;
}

.main_container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Containers*/

.first_con{
    position: absolute;
    background-color: tan;
    height: 100%;
    width: 100%;
    top: -70%;
    left: -70%;
    z-index: 2;
    border-radius: 10rem;
}
.second_con{
    position: absolute;
    background-color: azure;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    top: -70%;
    right: -70%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.third_con{
    position: absolute;
    background-color: azure;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    bottom: -70%;
    right: -70%;
}
.fourth_con{
    position: absolute;
    background-color: azure;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    bottom: -70%;
    left: -70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_con{
    position: absolute;
    height: 85%;
    width: 85%;
    left: 14%;
    top: 14%;

}



/* Titles */

.title_about{
    position: absolute;
    z-index: 100;
    color: black;
    bottom: 16%;
    right: 16%;
    font-size: 300%;
}
.title_contact{
    position: absolute;
    z-index: 100;
    color: black;
    bottom: 16%;
    left: 16%;
    font-size: 300%;
}
.title_skills{
    position: absolute;
    z-index: 100;
    color: black;
    top: 16%;
    right: 16%;
    font-size: 300%;
}
.title_projects{
    position: absolute;
    z-index: 100;
    color: black;
    top: 15%;
    left: 15%;
    font-size: 300%;
}

/* Skill Content */

#fourth_con ul {
    list-style: none;
    padding: 0;
}


#fourth_con ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    font-weight: bold;
    width: 120px;
}

.skill_progress_con{
    height: 1rem;
    width: 10rem;
    display: flex;
    content: "";
    border: 1px solid black;
    border-radius: .3rem;
    align-items: center;

}

.skill-level {
    width: 50px;
    text-align: right;
    
}

.skill-level {
    content: "";
    display: block;
    height: .7rem;
    background-color: #007bff;
    width: 5rem;
    transition: width 4s ease-in-out;
    margin-left: 2px;
}


